<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <!-- add navbar -->
    <%- include('./partials/navbar.ejs') %>

    <% data.map(item=>{ %>
        <div class="blog"> 
                <h2><%= item.name %></h2>
                <p> <%= item.comments %> </p>

                <a href="/myblog/<%=item._id%>"> show my blog</a>
                <a href="/edit/blog/<%=item._id%>"> edit the blog</a>

               
                <form action="/blog/delete/<%=item._id%>?_method=DELETE" method="post">
                    <button type="submit">delete</button>
                </form>
        </div>

    <% }) %>
     
  
</body>
</html>