<% layout('layout/boilerplate') -%>

    <%- include('./partials/navbar.ejs') %>

    <main class="product-detail mt-4 d-flex justify-content-center w-100 gap-4">
        <div class="card w-30" style="width: 24rem;">
            <img src=<%=productDetail.images %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= productDetail.name %></h5>
              <p class="card-text"> <%= productDetail.description %></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>

        <div class="product-review w-50">
            <h3>Ratings & Reviews</h3>
            <div class=" form-container border-1 w-100 border-dark">
                <form action="/add-reviews/<%= productDetail._id %>" method="post" class="w-150 mb-6">
                
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
    
                    <textarea class="form-control" id="formControlTextarea" rows="3" name="comments" placeholder="Add Comments"></textarea>
                
                    <button class="btn-primary" type="submit">Submit</button>
                </form>
            </div>
           


            <div class="reviews-container">
                <% reviews.map(values =>{ %>
                        <div class="card">
                             <span> <%= values.rating  %> </span> 
                             <p>
                                <%= values.comments %>
                             </p> 
                        </div>
                 <% }) %>
            </div>
        </div>
    </main>
